local.properties
.gradle/
.idea/
*/build/
*/.DS_Store
*/volley/
*/ActiveAndroid/
*.iml
/app/app.iml
/activeandroid/activeandroid.iml
/googlevolleynetwork_lib/googlevolleynetwork_lib.iml
app/src/main/java/core/helper/
app/src/main/res/layout/
app/src/main/res/layout/raw/
app/src/main/res/
build/
.DS_Store
app/app-release.apk

