<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.commonframe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.commonframe.util.CentralApplication"
        android:allowBackup="true"
        android:icon="@drawable/green_color"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="commonFrame.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="com.example.commonframe.data.serializer.MapSerializer,com.example.commonframe.data.serializer.BooleanArraySerializer,com.example.commonframe.data.serializer.IntegerArraySerializer,com.example.commonframe.data.serializer.DoubleArraySerializer,com.example.commonframe.data.serializer.StringArraySerializer" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>